
@@include('../Shared/header-home.html')


<div class="homepage">
	<section class="hero-banner wow fadeInUp">
		<div class="slider-banner" style="background-image: url('assets/img/img-thumb1.jpg');">
			<div class="wrapper">
				<div class="desc-info">
					<h5>Room</h5>
					<h3>Rediscover Joyful and Healthy Living</h3>
				</div>
			</div>
			<div class="overlay"></div>
		</div>
		<div class="slider-banner" style="background-image: url('assets/img/img-slide.jpg');">
			<div class="wrapper">
				<div class="desc-info">
					<h5>Cottage</h5>
					<h3>Deliciousness jumping into the mouth</h3>
				</div>
			</div>
			<div class="overlay"></div>
		</div>
		<div class="slider-banner" style="background-image: url('assets/img/img-thumb2.jpg');">
			<div class="wrapper">
				<div class="desc-info">
					<h5>Dining</h5>
					<h3>SPECIAL CONCEPTS FOR SPECIAL MOMENTS</h3>
				</div>
			</div>
			<div class="overlay"></div>
		</div>
		<div class="slider-banner" style="background-image: url('assets/img/img-slide.jpg');">
			<div class="wrapper">
				<div class="desc-info">
					<h5>Cottage</h5>
					<h3>Make Yourself at Home</h3>
				</div>
			</div>
			<div class="overlay"></div>
		</div>
	</section>

	<section class="gallery wow fadeInUp">
		<div class="container">
			<div class="row thumbnail-info">
				<div class="image-area col-md-6">
					<div class="wrapper">
						<div class="gallery-slide">
							<a href="assets/img/img-family_days_out1.jpg" class="bg-outline">
								<div class="image" style="background-image: url('assets/img/img-family_days_out1.jpg');">
									<span class="hover-info">View</span>
									<i class="icon fa fa-clone"></i>
								</div>
								<div class="overlay"></div>
							</a>
							<a href="assets/img/img-thumb1.jpg" class="bg-outline">
								<div class="image" style="background-image: url('assets/img/img-thumb1.jpg');">
									<span class="hover-info">View</span>
									<i class="icon fa fa-clone"></i>
								</div>
								<div class="overlay"></div>
							</a>
							<a href="assets/img/img-thumb2.jpg" class="bg-outline">
								<div class="image" style="background-image: url('assets/img/img-thumb2.jpg');">
									<span class="hover-info">View</span>
									<i class="icon fa fa-clone"></i>
								</div>
								<div class="overlay"></div>
							</a>
						</div>
					</div>
				</div>
				<div class="info-thumb col-md-6">
					<div class="wrapper">
						<h5 class="label-title">Gallery</h5>
						<h3 class="title">See what everyone is talking about</h3>
						<p>
							Degunghillside is your picture-perfect weekend getaway and outing programs. The countryside cottages &amp; resto will over the perfect blend of scenic vacation &amp; outing activities; meeting, fun outdoor activities &amp; rejuvenating wellness &amp; spiritual programs in a Family, Communities, employees &amp; students.
						</p>
						<div class="link-area">
							<a href="gallery.html">
								<span>See Inside</span>
								<i class="fa fa-angle-right"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="activity wow fadeInUp">
		<div class="row">
			<div class="list-activity bg-outline col-xs-6 col-md-4" style="background-image: url('assets/img/img-family_days_out2.jpg');">
				<div class="wrapper">
					<h3>Family Days Out Gathering</h3>
				</div>
				<div class="overlay"></div>
			</div>
			<div class="list-activity bg-outline col-xs-6 col-md-4" style="background-image: url('assets/img/img-corporate_days_out.jpg');">
				<div class="wrapper">
					<h3>Corporate Days Out</h3>
				</div>
				<div class="overlay"></div>
			</div>
			<div class="list-activity bg-outline col-xs-6 col-md-4" style="background-image: url('assets/img/img-school_outings.jpg');">
				<div class="wrapper">
					<h3>School Outings</h3>
				</div>
				<div class="overlay"></div>
			</div>
			<div class="list-activity bg-outline col-xs-6 col-md-4" style="background-image: url('assets/img/img-family_camp.jpg');">
				<div class="wrapper">
					<h3>Family Camp</h3>
				</div>
				<div class="overlay"></div>
			</div>
			<div class="list-activity bg-outline col-xs-6 col-md-4" style="background-image: url('assets/img/img-full_day_activity.jpg');">
				<div class="wrapper">
					<h3>
						Any Full day Activity<br>
						<small>(non overstay)</small>
					</h3>
				</div>
				<div class="overlay"></div>
			</div>
			<div class="list-activity all-facility col-xs-6 col-md-4">
				<a href="room-facility2.html" class="bg-outline">
					<span>
						<strong>See All Facility</strong>
						<i class="fa fa-angle-right"></i>
					</span>
				</a>
			</div>
		</div>
	</section>

	<section class="gallery wow fadeInUp">
		<div class="container">
			<div class="row thumbnail-info right-style">
				<div class="image-area col-md-6">
					<div class="wrapper">
						<div class="gallery-slide">
							<a href="assets/img/img-resto1.jpg" class="bg-outline">
								<div class="image" style="background-image: url('assets/img/img-resto1.jpg');">
									<span class="hover-info">View</span>
									<i class="icon fa fa-clone"></i>
								</div>
								<div class="overlay"></div>
							</a>
							<a href="assets/img/img-resto2.jpg" class="bg-outline">
								<div class="image" style="background-image: url('assets/img/img-resto2.jpg');">
									<span class="hover-info">View</span>
									<i class="icon fa fa-clone"></i>
								</div>
								<div class="overlay"></div>
							</a>
							<a href="assets/img/img-resto3.jpg" class="bg-outline">
								<div class="image" style="background-image: url('assets/img/img-resto3.jpg');">
									<span class="hover-info">View</span>
									<i class="icon fa fa-clone"></i>
								</div>
								<div class="overlay"></div>
							</a>
						</div>
					</div>
				</div>
				<div class="info-thumb col-md-6">
					<div class="wrapper">
						<h5 class="label-title">Resto</h5>
						<h3 class="title">See what everyone is talking about</h3>
						<p>
							Degunghillside is your picture-perfect weekend getaway and outing programs. The countryside cottages &amp; resto will over the perfect blend of scenic vacation &amp; outing activities; meeting, fun outdoor activities &amp; rejuvenating wellness &amp; spiritual programs in a Family, Communities, employees &amp; students.
						</p>
						<div class="link-area">
							<a href="javascript:void(0)">
								<span>See Inside</span>
								<i class="fa fa-angle-right"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="client wow fadeInUp">
		<div class="container">
			<h3 class="title">Our Client</h3>
			<div class="client-slide">
				<div class="slide">
					<div class="wrapper">
						<a href="#">
							<img src="assets/img/logo-pertamina.png" alt="">
						</a>
					</div>
				</div>
				<div class="slide">
					<div class="wrapper">
						<a href="#">
							<img src="assets/img/logo-pizzahut.png" alt="">
						</a>
					</div>
				</div>
				<div class="slide">
					<div class="wrapper">
						<a href="#">
							<img src="assets/img/logo-telkomsel.png" alt="">
						</a>
					</div>
				</div>
				<div class="slide">
					<div class="wrapper">
						<a href="#">
							<img src="assets/img/logo-traveloka-black.png" alt="">
						</a>
					</div>
				</div>
				<div class="slide">
					<div class="wrapper">
						<a href="#">
							<img src="assets/img/logo-pertamina.png" alt="">
						</a>
					</div>
				</div>
				<div class="slide">
					<div class="wrapper">
						<a href="#">
							<img src="assets/img/logo-pizzahut.png" alt="">
						</a>
					</div>
				</div>
				<div class="slide">
					<div class="wrapper">
						<a href="#">
							<img src="assets/img/logo-telkomsel.png" alt="">
						</a>
					</div>
				</div>
				<div class="slide">
					<div class="wrapper">
						<a href="#">
							<img src="assets/img/logo-traveloka-black.png" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="blog-slide wow fadeInUp">
		<div class="container">
			<div class="title-area">
				<h3 class="title">Latest Blog</h3>
			</div>
			<div class="slide-area">
				<div class="slide">
					<div class="wrapper">
						<div class="image-area">
							<a class="image" href="blog-detail.html" style="background-image: url('assets/img/img-corporate_days_out.jpg');"></a>
						</div>
						<div class="desc-area">
							<span class="date">26 Juni 2017</span>
							<ul class="tag">
								<li>
									<a href="blog-category.html">Tour</a>
								</li>
								<li>
									<a href="blog-category.html">Vacation</a>
								</li>
								<li>
									<a href="blog-category.html">Tour</a>
								</li>
								<li>
									<a href="blog-category.html">Vacation</a>
								</li>
								<li>
									<a href="blog-category.html">Tour</a>
								</li>
								<li>
									<a href="blog-category.html">Vacation</a>
								</li>
							</ul>
							<h3>
								<a href="blog-detail.html">A Tour of the Hotel with the Director, Part One.</a>
							</h3>
							<div class="link-area">
								<a href="blog-detail.html">
									<span>Read More</span>
									<i class="fa fa-angle-right"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="slide">
					<div class="wrapper">
						<div class="image-area">
							<a class="image" href="blog-detail.html" style="background-image: url('assets/img/img-family_days_out1.jpg');"></a>
						</div>
						<div class="desc-area">
							<span class="date">26 Juni 2017</span>
							<ul class="tag">
								<li>
									<a href="blog-category.html">Tour</a>
								</li>
								<li>
									<a href="blog-category.html">Vacation</a>
								</li>
							</ul>
							<h3>
								<a href="blog-detail.html">A Tour of the Hotel with the Director, Part Two.</a>
							</h3>
							<div class="link-area">
								<a href="blog-detail.html">
									<span>Read More</span>
									<i class="fa fa-angle-right"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="slide">
					<div class="wrapper">
						<div class="image-area">
							<a class="image" href="blog-detail.html" style="background-image: url('assets/img/img-family_days_out2.jpg');"></a>
						</div>
						<div class="desc-area">
							<span class="date">26 Juni 2017</span>
							<ul class="tag">
								<li>
									<a href="blog-category.html">Tour</a>
								</li>
								<li>
									<a href="blog-category.html">Vacation</a>
								</li>
							</ul>
							<h3>
								<a href="blog-detail.html">A Tour of the Hotel with the Director, Part One.</a>
							</h3>
							<div class="link-area">
								<a href="blog-detail.html">
									<span>Read More</span>
									<i class="fa fa-angle-right"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="slide">
					<div class="wrapper">
						<div class="image-area">
							<a class="image" href="blog-detail.html" style="background-image: url('assets/img/img-full_day_activity.jpg');"></a>
						</div>
						<div class="desc-area">
							<span class="date">26 Juni 2017</span>
							<ul class="tag">
								<li>
									<a href="blog-category.html">Tour</a>
								</li>
								<li>
									<a href="blog-category.html">Vacation</a>
								</li>
							</ul>
							<h3>
								<a href="blog-detail.html">A Tour of the Hotel with the Director, Part Two.</a>
							</h3>
							<div class="link-area">
								<a href="blog-detail.html">
									<span>Read More</span>
									<i class="fa fa-angle-right"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>


@@include('../Shared/footer.html')