
		</div>
		<!-- CONTAINER -->

		<!-- SCROLL TOP -->
		<a href="javascript:void(0)" class="scroll-to-top">
			<!-- <i class="fa fa-angle-up"></i> -->
			<i class="fa fa-long-arrow-up"></i>
			<span>Back to top</span>
		</a>
		<!-- SCROLL TOP -->

		<!-- FOOTER -->
		<footer class="wow fadeInUp">
			<div class="nav-top">
				<div class="container">
					<div class="row">
						<div class="col-md-9 col-sm-8">
							<h5 class="label-title">Contact Us</h5>
							<p>Cibedug, Ciawi, Bogor, West Java</p>
							<ul class="call-us">
								<li>
									<a href="tel:+62518292364">
										<i class="fa fa-phone"></i>
										<span>+62251 8292 364</span>
									</a>
								</li>
								<li>
									<a href="tel:+6281372442389">
										<i class="fa fa-mobile"></i>
										<span>+62813 7244 2389</span>
									</a>
								</li>
							</ul>
						</div>
						<div class="col-md-3 col-sm-4">
							<h5 class="label-title">Find Us</h5>
							<ul class="social flat">
								<li>
									<a href="#">
										<i class="fa fa-instagram"></i>
										<span>degunghillside</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="nav-bottom">
				<div class="container">
					<p class="copyright">Copyright © 2017 Degung Hillside. All Rights Reserved.</p>
				</div>
			</div>
		</footer>
		<!-- FOOTER -->

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="assets/js/vendor.min.js" ></script>
		<script src="assets/js/plugins.min.js" ></script>
		<!-- <script src="https://maps.googleapis.com/maps/api/js"></script> -->
		<script src="assets/js/app.min.js" ></script>

    </body>
</html>